#feedback {
    font-size: 1.4em;
}

#menu .ui-selecting {
    background: #FECA40;
}

#menu .ui-selected {
    background: #F39814;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}